cffi==1.13.2
Click==7.0
cryptography==2.8
enum34==1.1.6
Flask==1.1.1
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pycparser==2.19
pyOpenSSL==19.0.0
PyYAML==5.1.2
six==1.12.0
Werkzeug==0.16.0
